In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import preprocessing 
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split


from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv(r'/users/yaswanthkumarvejandla/Downloads/DATA SCIENCE & AI /projects/june 21st/car-mpg.csv')

In [3]:
data

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,1,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,1,chevy s-10

In [4]:
import pandas as pd
import numpy as np

# Drop 'car_name' column if it exists
if 'car_name' in data.columns:
    data = data.drop(['car_name'], axis=1)

# Replace numeric origin codes with text labels (only if origin is not already string)
if 'origin' in data.columns and data['origin'].dtype != 'object':
    data['origin'] = data['origin'].replace({1: 'america', 2: 'europe', 3: 'asia'})

# One-hot encode 'origin' if it exists and hasn't already been encoded
if 'origin' in data.columns:
    data = pd.get_dummies(data, columns=['origin'], dtype=int)

# Replace '?' with NaN
data = data.replace('?', np.nan)

# Convert all columns to numeric where possible
for col in data.columns:
    data[col] = pd.to_numeric(data[col], errors='coerce')

# Fill missing values in numeric columns with the median
data = data.apply(lambda x: x.fillna(x.median()), axis=0)

In [6]:
data.head()

,mpg,cyl,disp,hp,wt,acc,yr,car_type,origin_america,origin_asia,origin_europe
0,18.0,8,307.0,130.0,3504,12.0,70,0,1,0,0
1,15.0,8,350.0,165.0,3693,11.5,70,0,1,0,0
2,18.0,8,318.0,150.0,3436,11.0,70,0,1,0,0
3,16.0,8,304.0,150.0,3433,12.0,70,0,1,0,0
4,17.0,8,302.0,140.0,3449,10.5,70,0,1,0,0

In [8]:
x = data.drop(['mpg'],axis=1)
y = data[['mpg']]

In [9]:
x_s = preprocessing.scale(x)
x_s = pd.DataFrame(x_s,columns = x.columns)

y_s = preprocessing.scale(y)
y_s = pd.DataFrame(y_s , columns = y.columns)

In [10]:
x_s

,cyl,disp,hp,wt,acc,yr,car_type,origin_america,origin_asia,origin_europe
0,1.498191,1.090604,0.673118,0.630870,-1.295498,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
1,1.498191,1.503514,1.589958,0.854333,-1.477038,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
2,1.498191,1.196232,1.197027,0.550470,-1.658577,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
3,1.498191,1.061796,1.197027,0.546923,-1.295498,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
4,1.498191,1.042591,0.935072,0.565841,-1.840117,-1.627426,-1.062235,0.773559,-0.497643,-0.461968
...,...,...,...,...,...,...,...,...,...,...
393,-0.856321,-0.513026,-0.479482,-0.213324,0.011586,1.621983,0.941412,0.773559,-0.497643,-0.461968
394,-0.856321,-0.925936,-1.370127,-0.993671,3.279296,1.621983,0.941412,-1.292726,-0.497643,2.164651
395,-0.856321,-0.561039,-0.531873,-0.798585,-1.440730,1.621983,0.941412,0.773559,-0.497643,-0.461968
396,-0.856321,-0.705077,-0.662850,-0.408411,1.100822,1.621983,0.941412,0.773559,-0.497643,-0.461968
397,-0.856321,-0.714680,-0.584264,-0.296088,1.391285,1.621983,0.941412,0.773559,-0.497643,-0.461968

In [11]:
y_s

          mpg
0   -0.706439
1   -1.090751
2   -0.706439
3   -0.962647
4   -0.834543
..        ...
393  0.446497
394  2.624265
395  1.087017
396  0.574601
397  0.958913

[398 rows x 1 columns]

In [12]:
data.shape

(398, 11)

In [13]:
x_train , x_test , y_train , y_test = train_test_split(x_s , y_s , test_size = 0.2 , random_state = 0)
x_train.shape

(318, 10)

In [16]:
regression_model = LinearRegression()
regression_model.fit(x_train , y_train)

for idx,col_name in enumerate(x_train.columns):
    print('the coefficient for {} is {}'.format(col_name , regression_model.coef_[0][idx]))

intercept = regression_model.intercept_[0]
print('The intercept is {}'.format(intercept))

the coefficient for cyl is 0.24638776053571732
the coefficient for disp is 0.29177092098664387
the coefficient for hp is -0.18081621820393698
the coefficient for wt is -0.6675530609868124
the coefficient for acc is 0.0653730920577705
the coefficient for yr is 0.34817702594267164
the coefficient for car_type is 0.33392312539603636
the coefficient for origin_america is -0.08117984631927029
the coefficient for origin_asia is 0.06986098209664918
the coefficient for origin_europe is 0.03000316124228819
The intercept is -0.01800683137092325

In [18]:
ridge_model = Ridge(alpha = 0.4)
ridge_model.fit(x_train,y_train)

print('Ridge model coef: {}'.format(ridge_model.coef_))

Ridge model coef: [ 0.24242411  0.28008024 -0.18071842 -0.65711583  0.06353256  0.34721777
  0.32998816 -0.08077573  0.06989674  0.02945199]

In [19]:
lasso_model = Lasso(alpha=0.1)
lasso_model.fit(x_train,y_train)

print('Lasso model coeff: {}'.format(lasso_model.coef_))

Lasso model coeff: [-0.         -0.         -0.07247557 -0.45867691  0.          0.2698134
  0.11341188 -0.04988145  0.          0.        ]