In [2]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.13/site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn) (2.3.5)
Requirement already satisfied: scipy>=1.8.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn) (3.5.0)

In [42]:
import seaborn as sn 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.linear_model import LinearRegression , Ridge , Lasso

from sklearn.metrics import r2_score

In [6]:
data= pd.read_csv(r"/Users/yaswanthkumarvejandla/Downloads/AI ML Engineer/projects/l1_l2/car-mpg.csv")

In [7]:
data.head(5)

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino

In [8]:
data.iloc[32:33]

     mpg  cyl  disp hp    wt   acc  yr  origin  car_type    car_name
32  25.0    4  98.0  ?  2046  19.0  71       1         1  ford pinto

In [9]:
(data=='?').sum().sum()

np.int64(6)

In [10]:
data.isnull().sum()

mpg         0
cyl         0
disp        0
hp          0
wt          0
acc         0
yr          0
origin      0
car_type    0
car_name    0
dtype: int64

In [11]:
data.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'wt', 'acc', 'yr', 'origin', 'car_type',
       'car_name'],
      dtype='object')

In [12]:
data = data.drop(['car_name'], axis=1)

data['origin'] = data['origin'].replace({1:'america', 2: 'europe', 3:'asia'})

data = pd.get_dummies(data, columns=['origin'], dtype= int)

import numpy as np  
data = data.replace('?', np.nan)
data = data.apply(pd.to_numeric, errors='ignore')

# Fill median only for numeric columns
data = data.apply(lambda x: x.fillna(x.median()) if x.dtype != 'object' else x, axis=0)

/var/folders/md/yz4wns293812bb6m3pw1zpjm0000gn/T/ipykernel_40246/1520636864.py:9: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data = data.apply(pd.to_numeric, errors='ignore')

In [13]:
data.iloc[32:33]

,mpg,cyl,disp,hp,wt,acc,yr,car_type,origin_america,origin_asia,origin_europe
32,25.0,4,98.0,93.5,2046,19.0,71,1,1,0,0

In [14]:
x=data.drop(['mpg'],axis=1)
y=data['mpg']

In [15]:
x.head(5)

,cyl,disp,hp,wt,acc,yr,car_type,origin_america,origin_asia,origin_europe
0,8,307.0,130.0,3504,12.0,70,0,1,0,0
1,8,350.0,165.0,3693,11.5,70,0,1,0,0
2,8,318.0,150.0,3436,11.0,70,0,1,0,0
3,8,304.0,150.0,3433,12.0,70,0,1,0,0
4,8,302.0,140.0,3449,10.5,70,0,1,0,0

In [16]:
y.head(1)

0    18.0
Name: mpg, dtype: float64

In [24]:
x_s = preprocessing.scale(x)
y_s = preprocessing.scale(y)

In [27]:
x_s = pd.DataFrame(x_s , columns = x.columns)

In [33]:
y_s = pd.DataFrame(y_s , columns = ['mpg'])

In [34]:
y_s

          mpg
0   -0.706439
1   -1.090751
2   -0.706439
3   -0.962647
4   -0.834543
..        ...
393  0.446497
394  2.624265
395  1.087017
396  0.574601
397  0.958913

[398 rows x 1 columns]

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [39]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(278, 10)
(120, 10)
(278,)
(120,)

In [40]:
len(data)

398

In [41]:
data.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'wt', 'acc', 'yr', 'car_type',
       'origin_america', 'origin_asia', 'origin_europe'],
      dtype='object')

In [52]:
regression_model = LinearRegression()
regression_model.fit(x_train,y_train)

for i, col in enumerate(x_train.columns):
    print(f'The coef for {col} is {regression_model.coef_[i]}')

    

intercept = regression_model.intercept_

print('The intercept is {}'.format(intercept))

The coef for cyl is 1.1369899060516555
The coef for disp is 0.02161689741563093
The coef for hp is -0.03883255559900081
The coef for wt is -0.006213557049826366
The coef for acc is 0.19143956923671804
The coef for yr is 0.728486948428431
The coef for car_type is 4.925515252672413
The coef for origin_america is -1.453310448206347
The coef for origin_asia is 1.0259532627934316
The coef for origin_europe is 0.4273571854129153
The intercept is -24.8471657029179

# Ridge Model

In [53]:
ridge_model = Ridge(alpha=0.3)
ridge_model.fit(x_train,y_train)

print('Ridge model coef:{}'.format(ridge_model.coef_))

Ridge model coef:[ 1.08985287  0.02169832 -0.03826796 -0.00622829  0.19121746  0.72937312
  4.77703206 -1.45622319  1.02237334  0.43384985]

# Lasso Model

In [57]:
lasso_model = Lasso(alpha=0.1)
lasso_model.fit(x_train,y_train)
print('Lasso model coef:{}'.format(lasso_model.coef_))

Lasso model coef:[ 0.          0.0224209  -0.02631771 -0.00645569  0.14810367  0.74047832
  1.79385511 -1.7098595   0.          0.        ]

In [59]:
#Model score - r^2 or coeff of determinant
#r^2 = 1-(RSS/TSS) = Regression error/TSS 


#Simple Linear Model
print(regression_model.score(x_train, y_train))
print(regression_model.score(x_test, y_test))

print('*************************')
#Ridge
print(ridge_model.score(x_train, y_train))
print(ridge_model.score(x_test, y_test))

print('*************************')
#Lasso
print(lasso_model.score(x_train, y_train))
print(lasso_model.score(x_test, y_test))

0.836163800114943
0.8439452810748109
*************************
0.8361500949072497
0.8436962832756084
*************************
0.8281642276600107
0.8340810357618642