In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as   stats

In [2]:
import sys
print(sys.executable)

/opt/anaconda3/bin/python

In [4]:
np.random.seed(42)

data ={
    "product_id": range(1, 101),
    'product_name': [f'Product_{i}' for i in range(1, 101)],
    'category' :np.random.choice(['Electronics', 'Clothing', 'Home', 'Books'], 100),
    'units_sold' : np.random.poisson(lam=50, size=100),
    'price_per_unit': np.random.uniform(5.0, 500.0, size=100),
    'sale_date':pd.date_range(start='2023-01-01', periods=100, freq='D')    
        }

In [11]:
data1 = pd.DataFrame(data)
data1.head(20)

,product_id,product_name,category,units_sold,price_per_unit,sale_date
0,1,Product_1,Home,64,412.187278,2023-01-01
1,2,Product_2,Books,52,183.294367,2023-01-02
2,3,Product_3,Electronics,38,67.894954,2023-01-03
3,4,Product_4,Home,33,263.510414,2023-01-04
4,5,Product_5,Home,48,386.146809,2023-01-05
5,6,Product_6,Books,58,111.831409,2023-01-06
6,7,Product_7,Electronics,45,313.330786,2023-01-07
7,8,Product_8,Electronics,41,47.246995,2023-01-08
8,9,Product_9,Home,56,30.582452,2023-01-09
9,10,Product_10,Clothing,54,268.020543,2023-01-10
10,11,Product_11,Home,56,272.614385,2023-01-11
11,12,Product_12,Home,47,320.527801,2023-01-12
12,13,Product_13,Home,59,364.415210,2023-01-13
13,14,Product_14,Home,46,488.046779,2023-01-14
14,15,Product_15,Books,46,260.568672,2023-01-15
15,16,Product_16,Electronics,55,164.863454,2023-01-16
16,17,Product_17,Books,60,398.617166,2023-01-17
17,18,Product_18,Books,40,139.061964,2023-01-18
18,19,Product_19,Books,56,222.290853,2023-01-19
19,20,Product_20,Home,56,43.835909,2023-01-20

In [12]:
# Save the DataFrame as a CSV file
data1.to_csv('sales_data.csv', index=False)

In [10]:
import os
print("Current Working Directory:", os.getcwd())

Current Working Directory: /Users/yaswanthkumarvejandla/Downloads/AI ML Engineer/projects/STATS

In [13]:
data1

,product_id,product_name,category,units_sold,price_per_unit,sale_date
0,1,Product_1,Home,64,412.187278,2023-01-01
1,2,Product_2,Books,52,183.294367,2023-01-02
2,3,Product_3,Electronics,38,67.894954,2023-01-03
3,4,Product_4,Home,33,263.510414,2023-01-04
4,5,Product_5,Home,48,386.146809,2023-01-05
...,...,...,...,...,...,...
95,96,Product_96,Clothing,47,92.832574,2023-04-06
96,97,Product_97,Clothing,52,376.554302,2023-04-07
97,98,Product_98,Books,49,404.383196,2023-04-08
98,99,Product_99,Clothing,45,495.300045,2023-04-09
99,100,Product_100,Electronics,29,209.245750,2023-04-10

In [19]:
print(data1.describe())


data1.info()

       product_id  units_sold  price_per_unit            sale_date
count  100.000000   100.00000      100.000000                  100
mean    50.500000    50.68000      239.769733  2023-02-19 12:00:00
min      1.000000    29.00000       12.124777  2023-01-01 00:00:00
25%     25.750000    45.00000       99.645602  2023-01-25 18:00:00
50%     50.500000    51.00000      251.201153  2023-02-19 12:00:00
75%     75.250000    56.00000      354.664226  2023-03-16 06:00:00
max    100.000000    69.00000      495.300045  2023-04-10 00:00:00
std     29.011492     7.71183      145.094117                  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      100 non-null    int64
 1   product_name    100 non-null    object
 2   category        100 non-null    object
 3   units_sold      100 non-null    int64
 4   price_per_unit  100 non-null    float64
 5   sale_date       100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 4.8+ KB

In [31]:
print(data1['price_per_unit'])
print(data1['price_per_unit'].mean())
print(data1['price_per_unit'].median())
print(data1['price_per_unit'].mode())
print(data1['price_per_unit'].std())
print(data1['price_per_unit'].var())
print(data1['price_per_unit'].min())
print(data1['price_per_unit'].max())

0     412.187278
1     183.294367
2      67.894954
3     263.510414
4     386.146809
         ...
95     92.832574
96    376.554302
97    404.383196
98    495.300045
99    209.245750
Name: price_per_unit, Length: 100, dtype: float64
239.76973326885826
251.2011530899877
0      12.124777
1      14.019804
2      16.519608
3      17.548618
4      18.123099
         ...
95    477.658314
96    480.789329
97    481.510965
98    488.046779
99    495.300045
Name: price_per_unit, Length: 100, dtype: float64
145.09411699896864
21052.302787710403
12.124776871729155
495.3000452903333